.container{
  
padding: 4rem;
 
 
   
}
.container-into{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8rem;
  padding: 10px;
  gap: 2;
 border-radius: 10px;
  
 
}

.formsB{   

  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin-bottom: 2rem;
}

.table-saldos{

 
height: 5rem;
display: flex;
align-items: center;
padding: 4px;

}

.table-container {


  border-radius: 10px;

}